## the use and development of computer systems that are able to learn and adapt without following explicit instructions, by using algorithms and statistical models to analyse and draw inferences  from patterns in data.
`

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head()

ModuleNotFoundError: No module named 'pandas'

In [5]:
df.shape

(1309, 14)

In [3]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

# lets clean our data

In [12]:
da=df[['sex','age','fare','survived']]
da.head()

      sex    age      fare  survived
0  female  29.00  211.3375         1
1    male   0.92  151.5500         1
2  female   2.00  151.5500         0
3    male  30.00  151.5500         0
4  female  25.00  151.5500         0

In [13]:
da.describe()

               age         fare     survived
count  1046.000000  1308.000000  1309.000000
mean     29.881138    33.295479     0.381971
std      14.413493    51.758668     0.486055
min       0.170000     0.000000     0.000000
25%      21.000000     7.895800     0.000000
50%      28.000000    14.454200     0.000000
75%      39.000000    31.275000     1.000000
max      80.000000   512.329200     1.000000

In [14]:
da.dropna()

         sex    age      fare  survived
0     female  29.00  211.3375         1
1       male   0.92  151.5500         1
2     female   2.00  151.5500         0
3       male  30.00  151.5500         0
4     female  25.00  151.5500         0
...      ...    ...       ...       ...
1301    male  45.50    7.2250         0
1304  female  14.50   14.4542         0
1306    male  26.50    7.2250         0
1307    male  27.00    7.2250         0
1308    male  29.00    7.8750         0

[1045 rows x 4 columns]

In [26]:
X=da.drop(columns='survived')

In [27]:
y=da['survived']

In [28]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X,y)
model.predict(['male',17,157.5])

ValueError: could not convert string to float: 'female'